.container {
  display: flex;
  width: 100vw;
}
.content {
  width: 90%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.outlet-container {
  width: 95%;
  height: 100%;
  margin: 2rem auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  border-bottom: 1px solid var(--border);
}
.toggle-sidebar {
  padding: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--border);

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.backToHome {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
}