.container {
  display: none;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modalBody {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  background-color: var(--background);
  padding: 2rem;
  border-radius: var(--radius);
}
.show {
  display: block;
}
/* form[data-form] {

} */
form[data-form="true"] {
  display: block;
}
legend[data-form-legend] {
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  
  span {
    color: var(--error);
    cursor: pointer;
  }

  h3 {
    font-weight: 500;
    font-size: 2rem;

    p {
      font-weight: normal;
      color: var(--muted-foreground);
      font-size: 1.6rem;
    }
  }
}
div[data-form-body] {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}
div[data-form-field] {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    font-weight: 400;
    font-size: 1.5rem;
  }

  input, select {
    background-color: var(--muted);
    padding: 0.5rem 1rem;
    border-radius: var(radius);
    outline: none;
  }
}
div[data-form-actions] {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
