.usersTable {
  border: 1px solid var(--border);
  padding: 2rem;
  border-radius: var(--radius);
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.inputSearch {
  display: block;
  outline: none;
}

.iconSearch {
  height: 2rem;
  width: 2rem;
  position: relative;
}

.filters {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  outline: none;
  padding: 0.5rem;

  option {
    background-color: var(--accent);
    border: none;
    color: var(--muted-foreground);
  }
}
.tableContent {}

.table {
  width: 100%;
  margin: 2rem 0;
}

.tableHead {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.tableRow {
}

.tableHeadItem {
  padding: 1rem 0;
  color: var(--muted-foreground);
  text-align: left;
}

.tableData {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.tableDataActions {
}
.tableEditAction,
.tableDeleteAction,
.tableAssingAction {
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 3px slid var(--border);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  
  svg {
    width: 1.7rem;
    height: 1.7rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.tableEditAction {
  color: var(--chart-5);
}

.tableDeleteAction {
  color: var(--electric-red);
}

/**/
.role,
.status {
  padding: 0.5rem;
  border-radius: 40%;
  width: fit-content;
  font-weight: bold;
  font-size: 1.2rem;
}

.doctor {
  background-color: var(--soft-blue);
  color: var(--electric-blue);
}

.patient {
  background-color: var(--soft-green);
  color: var(--electric-green);
}

.admin {
  background-color: var(--soft-purple);
  color: var(--electric-purple);
}

/**/
.active {
  background-color: var(--success);
  color: var(--dark-electric-green);
}
.userProfileImage {
  height: 4rem;
  object-fit: cover;
}