.formContainer {
  max-width: 95%;
  margin: 10rem auto;
  flex: 0 1 50rem;
}

.backToHome {
  color: var(--muted-foreground);
  display: block;
  margin-bottom: 2rem;
}

.formContainerHeader {
  text-align: left;
}

.formContainerTittle {
  font-weight: bold;
  font-size: 3rem;
}

.formContainerDesc {
  color: var(--muted-foreground);
  font-size: 1.4rem;
}

.formContainerLegend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;

  div {
    border-bottom: 1px solid var(--muted-foreground);
    height: 1px;
    width: 33.33%;
  }

  p {
    font-size: 1.2rem;
    color: var(--muted-foreground);
    text-wrap: nowrap;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    text-align: center;
  }
}

.field {}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid var(--muted);
  border-radius: var(--radius);
  width: 100%;
}

.actions {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;

  span {
    color: var(--electric-blue);
  }
}

.formLoginAction {
  margin-top: 2rem;

  span {
    color: var(--electric-blue);
    font-weight: bold;
  }
}
